@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google fonts */
.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* body */
body {
  @apply hind-siliguri-regular text-[14px];
}


main {
  @apply w-full max-w-6xl mx-auto px-5;
}

input,
textarea,
select {
  @apply px-4 py-2 border-[1px] border-borderColor rounded-md focus:outline-0 focus:shadow-md !important;
}
.search-input {
  @apply rounded-full !important
}

label {
  @apply font-bold whitespace-nowrap
}

/* custom designs */
.navbar-scrolled {
  background-color: #fff;
  transition: 0.4s all;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.button-main {
  @apply bg-brandColor text-white px-4 py-2 rounded-md;
}

.user-sidebar-link {
  @apply w-full px-3 md:px-6 py-3  hover:bg-lightBg flex items-center gap-3 font-medium text-[15px] border-0 md:border-l-[3px] md:border-white border-b md:border-b-0 border-borderColor;
}

.user-sidebar-link-active {
  @apply md:border-l-[3px] md:border-redColor text-redColor
}

.change-picture {
  position: relative;
}

.p-picture:hover .change-picture::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 150px;
  background: black;
  opacity: 30%;
  bottom: 0;
  z-index: 100;
}

/* button button-loader-2 */
.button-loader-2 {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

    

/* payment css */
.payment-button {
  @apply w-full px-4 py-2 rounded-md mt-2
}

.bKash{
  @apply bg-[#DA126B] text-white
}

.Nagad{
  @apply bg-[#E84721] text-white
}

.Rocket{
  @apply bg-[#873290] text-white
}

.Bank_Transfer{
  @apply bg-[#00923C] text-white
}